In [1]:
"DataScienceEcosystem"

'DataScienceEcosystem'

In [ ]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Explore Data Science tools and environments
- Demonstrate basic arithmetic operations in Python
- Show how to convert units using Python expressions
- List popular languages for Data Science
- Introduce commonly used libraries in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

 Data Science Tools 
 Jupyter Notebooks  
 RStudio            
 VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Patrick Obure